*{
    margin: 0;
    padding: 0;
    
}
.main-body{
    width: 100%;
    text-align: center;
    
    background-color: black;
    height: auto;
    min-height: 100vh;
}
.main-body h1{
    padding-top: 15%;
    padding-bottom: 20px;
    font-size: 60px;
    color: white;
}
.input{
    display: flex;
    flex-direction: column;
    width: 100%;
    
    
  
}
.first-row{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
    
    
}
.first-row input{
    width: 200px;
    height: 30px;
    font-size: 25px;
}
.first-row select{
    width: 150px;
    font-size: 20px;
}
.first-row p{
    font-size: 20px;
}
.fa-solid{
    color: white;
    width: 50px;
    text-align: center;
    font-size: 30px;
}
.show{
    width: 200px;
    height: 30px;
    font-size: 25px;
    border: white solid 2px;
    background-color: aliceblue;
}
.second-row{
    display: flex;
    width: 100%;
    justify-content: center;
}
.second-row  button{
    width: 220px;
    height: 35px;
    font-size: 25px;
    margin-right: 20px;
}

@media (max-width:480px) {
    .main-body{
        min-height: 150vh;
    }
    .input{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        }
        .first-row{
            display: flex;
        
            width: 90%;
            justify-content: center;
            margin-bottom: 30px;
            margin: 15px;
            margin-top: 20%;
        }
        .first-row input{
            width: 150px;
            height: 30px;
            font-size: 25px;
        }
        .second-row{
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: center;
        }
        .second-row  button{
            width: 70%;
            height: 35px;
            font-size: 25px;
            margin: 10px auto 10px auto;
        }
        .show{
            width: 70%;
            margin: 10px auto 10px auto;
        }
}